* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  font-family: Arial, sans-serif;
}

#container {
  position: relative;
  width: 805px;
  height: 805px;
  padding: 1rem;
  margin: 1rem;
  border: 2px dashed black;
}

#svgContainer {
  position: absolute;
  top: 245px;
  left: 245px;
  width: 275px;
  height: 275px;
  z-index: 2;
  /* border: 1px dashed black; */
}

#flyer {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 800px;
  z-index: 1;
}

#inputs {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 300px; /* Adjust as needed */
}
#inputs input {
  margin-top: 5px;
  margin-bottom: 15px;
}

.text-input {
  margin-bottom: 30px;
}

.text-input p {
  margin-top: 2rem;
  font-size: x-large;
  font-weight: bold;
}
.text-label {
  margin-bottom: 80px;
}
.text-input > label, .text-input > input {
  width: 100%;
  margin-bottom: 10px;
}

.option-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.individual-option {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.individual-option label {
  margin-bottom: 5px;
}

.individual-option select {
  width: 100%;
  padding: 5px;
}

/* Additional Styling */
.text-input input[type="number"] {
  width: 100%; /* Adjust width for font size input */
}
#headerInput, #bodyInput, #footerInput {
  padding: 8px;
}